@font-face {
	font-family: 'PoppinsRegular';
	src: url('./../fonts/Poppins-Regular.woff2') format('woff2'), url('./../fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}