@import "./reset.css";
@import "./fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root	{
	--main-color: #F1F1F1;
	--text-color: #000000;
	--hover-color: #606060;
	--background-color: #ffffff;
	--logo-color: #FDA300;
	--black-color: #070707;
	--light-dark: #828282;

	--main-font: 'Poppins', sans-serif;

	font-size: 10px;
}

body {
	font-family: var(--main-font);
}

.container {
	width: 1210px;
	padding: 0 2rem;
	margin: 0 auto;
}

.header {
	background-color: var(--main-color);

	padding: 6rem 0 0;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__logo {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.36;
	
	color: var(--text-color);
	flex-basis: 33.33%;
}

.header__logo::before {
	content: '';
	position: absolute;
	transform: translate(10.5rem, 3.5rem);

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--logo-color);
}

.menu {
	flex: 0 1 auto;
}

.menu__list {
	display: flex;
	gap: 5rem;
}

.menu__link {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.2;

	color: var(--text-color);
}

.menu__link:hover {
	color: var(--hover-color);
	transition: color .4s ease;
}

.content {
	display: flex;
	width: 100%;
	padding: 0 0 7.6rem;
}

.content__title-box {
	flex: 1 1 50%;
	padding: 20rem 0 0;
}

.content__title {
	font-size: 4.4rem;
	font-weight: 600;
	color: var(--text-color);
	margin: 0 0 2rem;
}

.content__text {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	max-width: 50rem;
	line-height: 2;
}

.content__img {
	transform: translateY(7.6rem);
}

.services {
	color: var(--background-color);
	padding: 9rem 0;
}

.services .container {
	display: flex;
}

.services__card-icon {
	margin: 0 0 3rem;
}

.services__card-title {
	font-size: 2.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);

	margin: 0 0 1rem;
}
.services__card-text {
	font-size: 1.4rem;
	line-height: 2;
	color: var(--text-color);
}

.portfolio {
	background-color: #F1F1F1;
	padding: 9rem 0;
}

.portfolio .container {
	text-align: center;
}

.portfolio__title {
	font-size: 3.4rem;
	font-weight: 600;
	color: var(--black-color);

	margin: 0 0 6rem;
}
.portfolio__img {
	margin: 0 0 4rem;
}
.portfolio__link {
	display: inline-block;
	font-size: 1.8rem;
	color: var(--black-color);
	text-decoration: underline !important;
	transition: color .4s ease;
	margin: 0 0 9rem;
}
.portfolio__link:hover {
	color: var(--hover-color);
}
.portfolio__illustration:last-child .portfolio__link {
	margin: 0;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

	padding: 9rem 0;
}
.footer__title {
	font-size: 3.4rem;
	font-weight: 600;
	color: var(--black-color);
	margin: 0 0 4rem;
}

.footer__text {
	font-size: 1.8rem;
	color: var(--black-color);
	margin: 0 0 4rem;
}

.footer__button {
	display: inline-block;
	font-size: 1.8rem;
	color: var(--background-color);
	background-color: var(--black-color);
	border-radius: 3rem;
	padding: 0.7rem 2.2rem;
	margin: 0 0 8rem;
}

.footer__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	margin: 0 0 4rem;
}
.footer__social-text {
	font-size: 1.4rem;
	color: var(--light-dark);
}